<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Chat</title>
    <link rel="stylesheet" href="/edit.css">
</head>
<body>

    <h3>Edit your chat: <%= ch.id %></h3>
    <h3>Message was sent from: <%= ch.from %></h3>
    
    <form method="POST" action="/chats/<%= ch.id %>?_method=PUT">
        <textarea name="message" rows="5" cols="30" placeholder="Edit your message..." required></textarea>
        <button>Update Chat</button>
    </form>

</body>
</html>
